.root {
    /* -fx-background-image: url(../images/login.jpg); */
    -fx-background-color: #7cc0d8;
}

#labelSignUp:hover {
    -fx-text-fill: purple;
}

.button {
    -fx-background-radius: 30;
    -fx-background-color: linear-gradient(#93efd3, #52efe2);
}

.button:hover {
    -fx-background-color: rgb(6, 211, 82);
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 0 0 1px 0;
    -fx-prompt-text-fill: black;
}